@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* Colors */

$primary-color: rgb(245, 245, 198);
$shadow-color: rgb(201, 201, 164);
$btn-color: rgb(244, 211, 165);
$btn-hover-color: rgb(197, 161, 110);
$primary-font: "Poppins", sans-serif;
