@use "mixins" as mx;

body {
    @include mx.flex(row, center, center);
    flex-wrap: wrap;
    main {
        border: 1px solid black;
        width: 100%;
        #checkout-container {
            text-align: center;
            @include mx.flex(row, center, center);
            flex-wrap: wrap;
            gap: 2rem;
            h2 {
                width: 100%;
            }
            #products-display, #payment-display{
                float: left;
                width: 65%;
                border: 1px solid black;
            }
            #total-price {
                float: right;
                width: 25%;
                border: 1px solid black;

                #checkout-btn, #payment-btn {
                    background-color:#edb480;
                    color:white;
                    border: none;
                    border-radius: 2px;
                    width: 70%;
                    height: 35px;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }
    }
}