#header-container {
  background-color: #f2e9df;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-height: 10vh;
  gap: 10%;
  #categories {
    margin-left: 3%;
    font-size: 1.5rem;
    color: black;
    .navDropdown {
      position: relative;
      display: flex;
      gap: 10%;

      a {
        position: relative;
      }

      .dropdown-menu {
        background-color: white;
        visibility: hidden;
        position: absolute;
        border-radius: 5px;
        height: 20vh;
        z-index: 1;
        flex-direction: column;
        align-items: start;
        width: 200px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }

      &:hover {
        .dropdown-menu {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    a {
      position: relative;
      color: black;
      transition: text-decoration 0.3s ease-in-out;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  #cartElement {
    margin-right: 3%;
    #cartIconHolder {
      #cartIcon {
        width: 2rem;
      }
    }
  }
}
