@font-face {
    font-family: "super-funky";
    src: url(../fonts/super-funky-font/SuperFunky-lgmWw.ttf);
}

@mixin flex($flexDir, $justify, $align) {
  display: flex;
  flex-direction: $flexDir;
  justify-content: $justify;
  align-items: $align;
  width: 100%;
}

body {
  @include flex(column, center, center);
  gap: 1rem;
  height: 100vh;

  main {
    width: 100%;
    .hero-image {
      height: 500px;
      background-image: url(../img/bgpic.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;

      .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #f77c2c;
        font-family: "super-funky";
        font-size: 24px;
      }
    }
  }

  footer {
    height: 120px;
    background-color: #f2e9df;
    @include flex(row, flex-end, center);

    #footer-container {
      @include flex(row, space-around, center);
      color: #edb480;
    }

    #socials {
      padding-right: -20px;
      .fa {
        font-size: 28px;
        color: #edb480;
        padding: 10px;
      }
    }
  }
}
