@use "mixins" as mx;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  height: 120px;
  background-color: #f2e9df;
  @include mx.flex(row, flex-end, center, 100%);

  #footer-container {
    @include mx.flex(row, space-around, center, 100%);
    color: #edb480;
  }

  #socials {
    padding-right: -20px;
    .fa {
      font-size: 28px;
      color: #edb480;
      padding: 10px;
    }
  }
}

a{
  text-decoration: none;

  &:hover{
      color: #f77c2c;
  }
  /* &:visited{
      color: #edb480;
  } */
}